<!DOCTYPE html>
<html ng-app="myModule" ng-controller="myController">
<title>{{student.name}}</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/wordcloud.js"></script>

<style>
    html,
    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Roboto", sans-serif
    }

    div {
        border-radius: 25px;
    }
</style>
<script>
    var app = angular.module('myModule', []);
    app.controller('myController', function($scope) {

        $scope.student = {
            name: "Akhilesh Gurav",
            profileImageLink: "https://scontent-lht6-1.cdninstagram.com/vp/b97a92dd65e78d8d6018a1b8f6c1b4be/5B87CB55/t51.2885-15/s640x640/sh0.08/e35/20836870_1894338527558856_9071137367724654592_n.jpg",
            designation: "Software Engineer",
            address: "KEB Colony, Chikodi, Belagavi, Karnataka",
            email: "guravraksh22@gmail.com",
            phone: "+91-7972532508",
            connections: {
                github: "https://github.com/PiyushTamboli",
                linkedin: "https://www.linkedin.com/in/piyush-tamboli-87aaa88b/",
                instagram: "https://www.instagram.com/akhilgurav99/?hl=en"
            },
            skills: {
                "Front end techologies": 90,
                "Node Js": 80,
                "Cloud Hosting": 75,
                Programming: 70,
                Photography: 90
            },
            keywords: "angularJs expressJs nodeJs bootstrapJs springBoot gitHub heroku webDesign C C++ Java mySQL Linux Android heroku cloudHosting UI UX responsive CSS HTML5",
            languages: {
                English: "Intermediate",
                Hindi: "Intermediate",
                Marathi: "Native",
                Kannada: "Native"
            },
            projects: [{
                title: "Front End Developer",
                organization: "Dhruv Tech",
                since: "June 2018",
                to: "",
                description: "Dhruv Tech is a start up which deals with providing services on cloud for small and micro businesses. It provides cloud hosted services in SAAS model. My job profile includes creating end to end solution using AngularJs, NodeJs, Bootstrap, CSS, HTML5, Heroku, REST services using Java Spring Boot and ExpressJs",
				links:{
					myAngularCV:"https://piyushtamboli.github.io/dhruvTech/Rakshanda.html", 
					jQueryRestBuzzerApp:"https://my-buzzer.herokuapp.com/",
					bootstrapWebsite:"https://piyushtamboli.github.io/dhruvTech/",
					googleSite:"https://sites.google.com/view/dhruvtech",
					googleFormApp: "https://goo.gl/forms/AIEWgzPz9oLVIXUw1"
				},
            }, {
                title: "Software Engineer",
                organization: "Final Year Project",
                since: "July 2017",
                to: "Mar 2018",
                description: "“Airtificial Intelligence Chatbot to make Best Decision for Customer to Provide Service” got Selected and Sponsered by KSCST 41st Series of SPP 2017-18. Also done a MiniProject “Leaping Dinosaur” and developed a project on “Artificial Intelligence Chabot” which is selected for KSCST."
            }],
            educationDetails: [{
                institute: "Dhruv Tech",
                since: "June 2018",
                to: "",
                description: "Post Graduate Diploma"
            }, {
                institute: "KLE College of Engineering & Technology Chikodi",
                since: "2014",
                to: "2018",
                description: "Bachelor Degree with 57% Aggregate"
            }, {
                institute: "BK College of Chikodi",
                since: "2013",
                to: "2014",
                description: "Higher secondary school certificate (XII) with 63.66%"
            }, {
                institute: "GSES English Medium College Chikodi",
                since: "2011",
                to: "2012",
                description: "Higher secondary school certificate (XII) with 63.66%"
            }],
            milestones: [{
                when: Date.UTC(2012, 9, 31),
                what: "X",
                howMuch: 6,
                details: "with distinction"
            }, {
                when: Date.UTC(2014, 9, 31),
                what: "XII",
                howMuch: 5,
                details: "still first class"
            }, {
                when: Date.UTC(2016, 3, 31),
                what: "First Prize in Sports",
                howMuch: 9,
                details: "got selected in KSCST"
            }, {
                when: Date.UTC(2017, 2, 28),
                what: "Mini Project",
                howMuch: 8.5,
                details: "got selected in KSCST"
            }, {
                when: Date.UTC(2017, 9, 29),
                what: "Final Year Project",
                howMuch: 8,
                details: "got sponsership"
            }, {
                when: Date.UTC(2018, 4, 29),
                what: "B E",
                howMuch: 8.5,
                details: "with first class"
            }, {
                when: Date.UTC(2018, 10, 29),
                what: "First Job",
                howMuch: 9.2,
                details: "joined Dhruv Tech"
            }]
        };

        var lines = $scope.student.keywords.split(/[,. ]+/g),
            data = Highcharts.reduce(lines, function(arr, word) {
                var obj = Highcharts.find(arr, function(obj) {
                    return obj.name === word;
                });
                if (obj) {
                    obj.weight += 1;
                } else {
                    obj = {
                        name: word,
                        weight: 1
                    };
                    arr.push(obj);
                }
                return arr;
            }, []);
        Highcharts.chart('wordCloud', {
            series: [{
                type: 'wordcloud',
                data: data,
                name: 'Profeciency'
            }],
            title: {
                text: 'Wordcloud of keywords'
            },
            credits: {
                enabled: false
            },
        });
        var milestones = [];
        for (i in $scope.student.milestones) {
            var milestone = $scope.student.milestones[i];
            //console.log(milestone)
            var temp = {
                x: milestone.when,
                y: milestone.howMuch,
                name: milestone.details,
                dataLabels: {
                    enabled: true,
                    format: milestone.what,
                    verticalAlign: 'bottom'
                }
            }
            milestones.push(temp);
            //console.log(milestones);
        }
        var chart = Highcharts.chart('chart', {
            chart: {
                type: 'spline'
            },
            credits: {
                enabled: false
            },
            title: {
                text: 'Career'
            },
            xAxis: {
                type: 'datetime',
                dateTimeLabelFormats: { // don't display the dummy year
                    month: '%Y'
                },
                title: {
                    text: 'Year'
                }
            },
            yAxis: {
                visible: false
            },
            tooltip: {
                headerFormat: '{series.name}<br>',
                pointFormat: '{point.name} in {point.x:%Y}'
            },
            plotOptions: {
                spline: {
                    marker: {
                        enabled: true
                    }
                }
            },
            series: [{
                name: " ",
                data: milestones,
            }]
        });
        //console.log(chart);
    });
</script>

<body class="w3-light-grey">

    <!-- Page Container -->
    <div class="w3-content w3-margin-top" style="max-width:1400px;">

        <!-- The Grid -->
        <div class="w3-row-padding">

            <!-- Left Column -->
            <div class="w3-quarter">

                <div class="w3-white w3-text-grey w3-card-4">
                    <div class="w3-display-container">
                        <img ng-src="{{student.profileImageLink}}" style="width:100%" alt="Avatar">
                        <div class="w3-display-bottomleft w3-container w3-text-black">
                            <div class="w3-large" style="color:gold">{{student.name}}</div>
                        </div>
                    </div>
                    <div class="w3-container w3-margin-bottom">
                        <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>{{student.designation}}</p>
                        <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>{{student.address}}</p>
                        <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>{{student.email}}</p>
                        <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>{{student.phone}}</p>
                        <hr>
                        <p>Connections &nbsp;
                            <a ng-repeat="(key, value) in student.connections" class="fa fa-{{key}} w3-hover-opacity w3-margin-right w3-large w3-text-teal" href="{{value}}"> </a>
                        </p>
                        <hr>
                        <p class="w3-large"><b><i class="fa fa-gears fa-fw w3-margin-right w3-text-teal"></i>Skills</b></p>
                        <div ng-repeat="(key, value) in student.skills">
                            <p>{{key}}</p>
                            <div class="w3-light-grey w3-round-xlarge w3-small">
                                <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:{{value}}%">{{value}}%</div>
                            </div>
                        </div>
                        <br>
                        <p class="w3-large w3-text-theme"><b><i class="fa fa-globe fa-fw w3-margin-right w3-text-teal"></i>Languages</b></p>
                        <p ng-repeat="(key, value) in student.languages">
                            <span class="w3-margin-right">{{key}}</span>
                            <span class="w3-small w3-text-teal w3-margin-right">{{value}}</span><i class="fa fa-thumbs-up" aria-hidden="true"></i>
                        </p>
                        <br>
						<p class="w3-large w3-text-theme"><b><i class="fa fa-graduation-cap fa-fw w3-margin-right w3-text-teal"></i>Education</b></p>
						<div ng-repeat="educationItem in student.educationDetails">
						<hr>
                        <p><b>{{educationItem.institute}}</b></p>
                        <p class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>{{educationItem.since}} - {{educationItem.to}}</p>
                        <p>{{educationItem.description}}</p>
                        
                    </div>
                    </div>
                </div><br>
				<div class="w3-container w3-margin-bottom">
                    
                </div>
                <!-- End Left Column -->
            </div>

            <!-- Right Column -->
            <div class="w3-threequarter">

                <div class="w3-container w3-card w3-white w3-margin-bottom">
                    <h3 class="w3-text-grey w3-padding-8"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xlarge w3-text-teal"></i>Work Experience</h3>
                    <div ng-repeat="project in student.projects" class="w3-container">
						<hr>
                        <h5 class="w3-opacity"><b>{{project.title}} / {{project.organization}}</b></h5>
                        <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>{{project.since}} - {{project.to}}<span ng-show="project.to == ''" class='w3-tag w3-teal w3-round'>Current</span></h6>
                        <p>{{project.description}}</p>
						<p ng-show="project.links">Hosted Project Links</p>
						<ul><li ng-repeat="(key, value) in project.links">
							<a class="w3-margin-right w3-text-teal" href="{{value}}">{{key}}</a>
						</li></ul>
                    </div>

                </div>
                <div class="w3-container w3-card w3-white w3-margin-bottom">
                    <div id="wordCloud"></div>
                </div>
                <div class="w3-container w3-card w3-white w3-margin-bottom">
                    <div id="chart">chart</div>
                </div>
                
                <!-- End Right Column -->
            </div>
            <!-- End Grid -->
        </div>
        <!-- End Page Container -->
    </div>
    <!--footer class="w3-container w3-teal w3-center w3-margin-top">
</footer-->
</body>

</html>
